force-app/main/default/flows/Formula_Tester.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>evaluateFormula</name>
        <label>Evaluate Formula</label>
        <locationX>312</locationX>
        <locationY>47</locationY>
        <actionName>EvaluateFormula</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Display_Result</targetReference>
        </connector>
        <inputParameters>
            <name>formulaString</name>
            <value>
                <elementReference>Formula_String</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectType</name>
            <value>
                <elementReference>Object_Type</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>outputType</name>
            <value>
                <elementReference>outputType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>scale</name>
            <value>
                <elementReference>scale</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>formulaResult</assignToReference>
            <name>formulaResult</name>
        </outputParameters>
    </actionCalls>
    <interviewLabel>Formula Tester {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Formula Tester</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Display_Result</name>
        <label>Display Result</label>
        <locationX>460</locationX>
        <locationY>46</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dispFormula</name>
            <fieldText>&lt;p&gt;Formula Result is: {!formulaResult}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_Formula</name>
        <label>Enter Formula</label>
        <locationX>186</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>evaluateFormula</targetReference>
        </connector>
        <fields>
            <name>Formula_String</name>
            <dataType>String</dataType>
            <fieldText>Formula String</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Object_Type</name>
            <dataType>String</dataType>
            <fieldText>Object Type</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>scale</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>2.0</numberValue>
            </defaultValue>
            <fieldText>scale</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>outputType</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>String</stringValue>
            </defaultValue>
            <fieldText>outputType</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Enter_Formula</startElementReference>
    <status>Draft</status>
    <variables>
        <name>formulaResult</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
