force-app/main/default/flows/Manage_Calculations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Name</name>
        <label>Assign Name</label>
        <locationX>358</locationX>
        <locationY>287</locationY>
        <assignmentItems>
            <assignToReference>curCalculation.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pick_Calculation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Calculation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Updated_Values</name>
        <label>Assign Updated Values</label>
        <locationX>601</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>curCalculation.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>curCalculation.Context_Data_String__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>curCalculation.Context_Data_String__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Calculation</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choiceAddNew</name>
        <choiceText>Add New Calculation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>add</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceEditCalculation</name>
        <choiceText>Edit Calculation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>edit</stringValue>
        </value>
    </choices>
    <decisions>
        <name>ActionTaken</name>
        <label>ActionTaken?</label>
        <locationX>93</locationX>
        <locationY>285</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_New_Calculation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>radioActionChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceAddNew</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Calculation</targetReference>
            </connector>
            <label>Add New Calculation</label>
        </rules>
        <rules>
            <name>Edit_Existing_Calculation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>radioActionChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceEditCalculation</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Name</targetReference>
            </connector>
            <label>Edit Existing Calculation</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>availableCalculations</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Calculation__c</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Manage Calculations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Manage Calculations</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Calculation</name>
        <label>Create Calculation</label>
        <locationX>217</locationX>
        <locationY>527</locationY>
        <assignRecordIdToReference>curCalculation.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Record_by_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>Context_Object_Type__c</field>
            <value>
                <elementReference>Context_Object_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>newCalculationName</elementReference>
            </value>
        </inputAssignments>
        <object>Calculation__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Calculation</name>
        <label>Get Calculation by Name</label>
        <locationX>495</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Edit_Calculation</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curCalculation.Name</elementReference>
            </value>
        </filters>
        <object>Calculation__c</object>
        <outputReference>curCalculation</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Formula__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Context_Object_Type__c</queriedFields>
        <queriedFields>Context_Data_String__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_by_Id</name>
        <label>Get Calculation by Id</label>
        <locationX>495</locationX>
        <locationY>476</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Edit_Calculation</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curCalculation.Id</elementReference>
            </value>
        </filters>
        <object>Calculation__c</object>
        <outputReference>curCalculation</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Formula__c</queriedFields>
        <queriedFields>Context_Object_Type__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Context_Data_String__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Calculation</name>
        <label>Update Calculation</label>
        <locationX>754</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Summary_Screen</targetReference>
        </connector>
        <inputReference>curCalculation</inputReference>
    </recordUpdates>
    <screens>
        <name>Edit_Calculation</name>
        <label>Edit Calculation</label>
        <locationX>765</locationX>
        <locationY>408</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Updated_Values</targetReference>
        </connector>
        <fields>
            <name>Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>curCalculation.Name</elementReference>
            </defaultValue>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>cmpFormula</name>
            <extensionName>c:formulaBuilder</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>formulaString</name>
                <value>
                    <elementReference>curCalculation.Formula__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>supportedSystemTypes</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>curCalculation.Formula__c</assignToReference>
                <name>formulaString</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Calculation</name>
        <label>Select Calculation</label>
        <locationX>188</locationX>
        <locationY>49</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ActionTaken</targetReference>
        </connector>
        <fields>
            <name>radioActionChoice</name>
            <choiceReferences>choiceAddNew</choiceReferences>
            <choiceReferences>choiceEditCalculation</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Pick_Calculation</name>
            <choiceReferences>availableCalculations</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Pick Calculation</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>radioActionChoice</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choiceEditCalculation</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>newCalculationName</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>radioActionChoice</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choiceAddNew</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Context_Object_Type</name>
            <dataType>String</dataType>
            <fieldText>Context Object Type</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>radioActionChoice</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choiceAddNew</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Summary_Screen</name>
        <label>Summary Screen</label>
        <locationX>882</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dispText</name>
            <fieldText>&lt;p&gt;Your Calculation has been saved as a Calculation record. To execute it, run the Run Calculations flow.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Select_Calculation</startElementReference>
    <status>Draft</status>
    <variables>
        <name>curCalculation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Calculation__c</objectType>
    </variables>
    <variables>
        <name>numberOutput</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>stringOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
