force-app/main/default/flows/Manage_Calculations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Evaluate_Formula</name>
        <label>Evaluate Formula</label>
        <locationX>461</locationX>
        <locationY>51</locationY>
        <actionName>EvaluateFormula</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>screenOutput</targetReference>
        </connector>
        <inputParameters>
            <name>formulaString</name>
            <value>
                <elementReference>Get_Calculation.Formula__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>numberOutput</assignToReference>
            <name>numberResult</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>stringOutput</assignToReference>
            <name>stringResult</name>
        </outputParameters>
    </actionCalls>
    <dynamicChoiceSets>
        <name>availableCalculations</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Calculation__c</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Manage Calculations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Manage Calculations</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Calculation</name>
        <label>Get Calculation</label>
        <locationX>306</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Edit_Calculation</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dog Years</stringValue>
            </value>
        </filters>
        <object>Calculation__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Formula__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Context_Data_String__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Calculation</name>
        <label>Update Calculation</label>
        <locationX>306</locationX>
        <locationY>385</locationY>
        <inputReference>Get_Calculation</inputReference>
    </recordUpdates>
    <screens>
        <name>Edit_Calculation</name>
        <label>Edit Calculation</label>
        <locationX>306</locationX>
        <locationY>203</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Calculation</targetReference>
        </connector>
        <fields>
            <name>Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Calculation.Name</elementReference>
            </defaultValue>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>cmpFormula</name>
            <extensionName>c:formulaBuilder</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>formulaString</name>
                <value>
                    <elementReference>Get_Calculation.Formula__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>supportedSystemTypes</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contextObjectType</name>
                <value>
                    <stringValue>Calculation__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Get_Calculation.Formula__c</assignToReference>
                <name>formulaString</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Context_Data_String</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Calculation.Context_Data_String__c</elementReference>
            </defaultValue>
            <fieldText>Context Data String</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenOutput</name>
        <label>Results</label>
        <locationX>600</locationX>
        <locationY>52</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dispOutpu</name>
            <fieldText>&lt;p&gt;Result is &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!stringOutput} &lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!numberOutput}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Calculation</name>
        <label>Select Calculation</label>
        <locationX>188</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Calculation</targetReference>
        </connector>
        <fields>
            <name>Pick_Calculation</name>
            <choiceReferences>availableCalculations</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Pick Calculation</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Select_Calculation</startElementReference>
    <status>Draft</status>
    <variables>
        <name>numberOutput</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>stringOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
